@import "_commons";
@import "_fonts";
@import "_navBar";
@import "_content";
@import "_footer";

body{
    background-color: #ede0d4;
}

nav{
    background-color: #CFAFAF;;
}

.nav__logo{
    color:#CFAFAF
}